*{
    margin: 0px;
    padding: 0px;
}
.obox{
    border: solid 1px;
    height: 150px;
    display: flex;
}
#inbox1,#inbox2{
    border: solid 1px;
    height: 150px;
}
#inbox1{
    width: 150px;
}
#inbox2{
    width: 1748px;
    text-align: center;
}
#clgname{
    font-size: 65px;
    color: rgb(200, 25, 48);
}
#scrollclg{
    font-size: 20px;
    font-weight: bold;
    color: rgb(5, 0, 0);
}
#navbox{
    border: solid 1px;
    height: 50px;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 170px;
    float: left;
    text-align: center;
    line-height: 50px;
    background-color: #416c6c;
    margin-right: 1px;
    margin-bottom: 1px;
    border-radius: 10px;
}
ul{
    list-style: none;
}
ul li a{
    color: hsl(0, 0%, 100%);
    font-size: medium;
    text-decoration: none;
}
ul li ul li{
    display:none;
}
ul li:hover ul li{
    display: block;
}
ul li:hover{
    background-color: black;
}
.outerbox{
    border: solid 1px;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
#in1,#in2,#in3{
    border: solid 1px;
    height: 350px;
    z-index: -1;
}
#in1{
    width: 550px;
    background-image: url(photo.jpg);
    background-repeat: no-repeat;
    background-size: 550px 350px;
    animation-name: imgchange;
    animation-duration: 10s;
    animation-iteration-count: infinite ;
}
@keyframes imgchange{
    10%{
        background-image: url(bits2.jpg);
    }
    20%{
        background-image: url(bits3.jpg);
    }
    30%{
        background-image: url(bits4.jpg);
    }
    40%{
        background-image: url(bits1.jpg);
    }
    50%{
        background-image: url(bitslogo.jpg);
    }
}
#in2,#in3{
    width: 250px;
}
#placebox{
    border: solid 1px;
    height: 250px;
}
#placements{
    text-align: center;
    font-size: 60px;
}